{% extends "Proyecto/home2.html" %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" href="{% static 'style_hab.css' %}">
{% endblock %}
{% block content %}
    <br>
    <h1 id="numhab"> Habitación {{ habitacion.num_habitacion }}</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img class="rounded mx-auto d-block" src="/media/{{ habitacion.img_habitacion }}" class="d-block "
                     alt="Imagen de la habitacion">
            </div>
            <div class="carousel-item ">
                <img class="rounded mx-auto d-block" src="/media/{{ habitacion.img_habitacion }}" class="d-block "
                     alt="Imagen de la habitacion">
            </div>
        </div>
    </div>

    <div class="container-fluid" id="Descripcion">
        <div class="row">
            <div class="col-md">
                <h1>Caracteristicas</h1>
                <ul>
                    <li>Cantidad de baños:{{ habitacion.cant_banios }}</li>
                    <li>Cantidad de Habitaciones: {{ habitacion.cant_dormitorios }}</li>
                    <li>Precio por noche:{{ habitacion.precio_noche }}</li>
                    <li>Tipo de habitacion: {{ habitacion.tipo_habitacion }}</li>
                </ul>
            </div>
            <div class="col-md" id="infhab">
                <h1>Informacion Adicional</h1>
                <p>{{ habitacion.descripcion }}</p>
            </div>
        </div>
    </div>
    <!--Hacer una autentifiacion y si esta registrado el usario que aparezca lo siguiente-->
    <div class="row text-center"  >
        {% if request.user.is_authenticated and habitacion.estado == "Disponible" %}
            <div class="col-12 ">
                <a type="Summy" href={% url "reservar" habitacion.id %}>
                    <button class="btn btn-outline-success my-2 my-sm-0 zoom">Reservar</button>
                </a>
            </div>
        {% elif request.user.is_authenticated and habitacion.estado == "Ocupado" %}
            <div class="col-12">
                <a type="Summy" href={% url "eliminar_reserva" habitacion.id %}>
                    <button class="btn btn-outline-success my-2 my-sm-0 zoom">Eliminar Reserva</button>
                </a>
            </div>
        {% else %}
            <div class="col-12">
                <form action="{% url "login" %}">
                    <label>Para hacer una reserva necesita estar registrado</label><br>
                    <button class="btn btn-outline-success"> Login</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <hr class="light">
                    <h2>&copy; Hontendy.com</h2>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}