{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

	
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body onload="Name()">

<div id ="b">
    <br>
    <h1>Aca tiene que haber Hoteles</h1>


    <div class = "grid-container">
        {% for hotel in hoteles %}
            <div class = "grid-item">   
                <a href="{% url 'hoteles' hotel.id  %}" ><img class="zoom" src=/media/{{hotel.img_hotel}} style="width: 350px; height: 200px;"></a> 
                <a href="{% url 'hoteles' hotel.id  %}"> <h2>{{hotel.nombre}}</h2> </a> <!--Cambiar login x la url de los hoteles-->
            </div>    
        {% endfor %}

    </div>  
    <datalist id = "habitaciones">

        <option value="Hab">

            {{hotel.habitaciones}}

        </option>



    </datalist>


    
        {% for hotel in hotel %}
        
            <div class = "grid-item">  
                <a href="{% url "login" %}" ><img class="zoom" src=/media/{{hotel.img_hotel}} style="width: 350px; height: 200px;"></a> 
                <a href="{% url "login" %}" ><h2>{{hotel.estrellas}}</h2></a> <!--Cambiar login x la url de los hoteles-->
                <br>
            </div>
        
        {% endfor %}
          

    <div class="pagination">
        <span class="step-links">
            {% if hoteles.has_previous %}
                <a href="?page=1"><h1>&laquo; first</h1></a>
                <a href="?page={{ hoteles.previous_page_number }}"><h1>previous</h1></a>
            {% endif %}

            <span class="current" style="size:5px">
                <h2> Page {{ hoteles.number }} of {{ hoteles.paginator.num_pages }}. </h2>
            </span>

            {% if hoteles.has_next %}
                <a href="?page={{ hoteles.next_page_number }}"><h1>next</h1></a>
                <a href="?page={{ hoteles.paginator.num_pages }}"><h1>last &raquo;</h1></a>
            {% endif %}
        </span>
    </div>

</div>

    <script src="/static/script.js">
        data_from_django = {{ hotel }};
        widget.init(data_from_django);
    </script>

<button class="b1" onclick="window.location.href='page2';">Reservar</button>

</body>
{% endblock %}