{% extends 'Proyecto/home.html' %}

{% block content %}
    <br>
    <br>

    <div class=arriba>
        <div class="vista_previa">
        </div>
        <div class="descripcion">
            <div class="row justify-content-center">
                <a href="{% url 'home' %}" class="ml-2"><h1> Volver a la pagina principal </h1></a>
                <h1 style="text-align: center">Hotel {{ hoteles.nombre }}</h1>
                {% if request.user.is_authenticated %}
                    <h1>Hola {{ request.user }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="habitaciones">
        <div style="text-align: center">
            {% for habitacion in h.all %}
                {% if habitacion.estado == estado %}
                    <a href="{% url "habitaciones" habitacion.id %}">
                    <img src="/media/{{ habitacion.img_habitacion }}"
                         alt="Imagen de habitacion {{ habitacion.num_habitacion }}">
                    <h1>Num Habitacion:{{ habitacion.num_habitacion }}. Cantidad de
                        dormitorios:{{ habitacion.cant_dormitorios }}. Precio por noche:{{ habitacion.precio_noche }}.
                        Tipo de Habitacion:{{ habitacion.tipo_habitacion }}</h1>
                {% else %}
                    <h1>Hola</h1>
                {% endif %}
            </a>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if habitaciones.has_previous %}
                    <a href="?page=1"><h1>&laquo; first</h1></a>
                    <a href="?page={{ habitaciones.previous_page_number }}"><h1>previous</h1></a>
                {% endif %}

                <span class="current" style="size:5px">
                    <h2> Page {{ habitaciones.number }} of {{ habitaciones.paginator.num_pages }}. </h2>
                </span>

                {% if habitaciones.has_next %}
                    <a href="?page={{ habitaciones.next_page_number }}"><h1>next</h1></a>
                    <a href="?page={{ habitaciones.paginator.num_pages }}"><h1>last &raquo;</h1></a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}