{% extends 'Proyecto/home2.html' %}

{% block content %}
    <div class="container-fluid padding">
        {% if hab_o == hab %}
            <h1>Sorry master, tamo hasta las manos</h1>
        {% else %}
            {% for habitacion in habitaciones %}
                <div class="row padding">
                    <div class="col-lg-1"></div>
                    {% if habitacion.estado == "Disponible" %}
                        <div class="row padding col-lg-10 rounded bg-light text-dark border">
                            <div class="col">
                                <h1>{{ habitacion.num_habitacion }}</h1>
                                <p>Tipo de Habitación: {{ habitacion.tipo_habitacion }}</p>
                                <p>Precio por Noche: ${{ habitacion.precio_noche }}</p>
                                <a href="{% url "habitaciones" habitacion.id %}">
                                    <button class="btn btn-primary btn-lg zoom">Ver Habitacion</button>
                                </a>
                            </div>
                            <div class="col">
                                <img alt="..." src=/media/{{ habitacion.img_habitacion }} class="img-fluid">
                            </div>
                        </div>
                    {% else %}
                        <div class="row padding col-lg-10 rounded sorry"></div>
                    {% endif %}
                    <div class="col-lg-1"></div>
                </div>
                <br>

            {% endfor %}
        {% endif %}
        <nav aria-label="">
            <ul class="pagination justify-content-center">
                {% if habitaciones.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ habitaciones.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in habitaciones.paginator.page_range %}
                    {% if habitaciones.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ i }}<span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if habitaciones.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ habitaciones.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <hr class="light">
                    <h2>&copy; Hontendy.com</h2>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}