@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Sansita+Swashed&family=Texturina:wght@100&display=swap');


#numhab{
    font-family: 'Sansita Swashed', cursive;
}
#infhab{
    align-self: auto;
    text-align: right;
}

.zoom
{
 transition: transform .5s;
}
.zoom:hover
{
 transform: scale(1.1);
}

#hasta_las_manos{
    margin-top: 100px;
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 300%;
    margin-bottom: 200px;
}


.descp{
    font-style: italic;
}