body{
    background-color:  rgb(188, 229, 255);
}

.img{
    size: 10cm;
    border-radius: 2.5%;
}
.texto{
    text-align: justify;
}
.habitaciones{
    margin-left: 100px;
}

#hotel_nombre{
    font-size: 80px;
    font-style: oblique;
    text-transform: uppercase;
}
.table{
    background-color: transparent;
}
.botn{
    margin-left: 1280px;
    border-style: dashed; 
    size: 180px;
}

#hola{
    text-transform: capitalize;
}
.pags{
    text-align: center;
}
