@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Sansita+Swashed&family=Texturina:wght@100&display=swap');


.bodi{
    background-color: moccasin;
    color: moccasin;
}

.hab_estilo_descp{
    font-family: 'Raleway', sans-serif;
}

#numhab{
    font-family: 'Sansita Swashed', cursive;
}
#infhab{
    align-self: auto;
    text-align: right;
}

.caracc{
    font-family: 'Raleway';
    font-size: larger;
    text-shadow: 1px 1px 15px #000;
}

.zoom
{
 transition: transform .5s;
}
.zoom:hover
{
 transform: scale(1.1);
}

