body {
    background-color: rgb(12, 141, 12);
    text-align: center;
  }

#b {
  color: rgb(10, 6, 73);
  font-size: 63px;
  font-variant: small-caps;
}

.b1 {
  font-size: medium;
  border-color: springgreen;
}

.b2 {
  font-size: medium;
  margin-right: 1300px;
  margin-top: 777px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}

.zoom{
  transition: transform .5s;
}


.zoom:hover{
  transform: scale(1.2);

}