<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include 'Proyecto/ignore/nav.html' %}
    
    <h1>Hello Django</h1>
    <div class="container">    
        <h1>Hello Django</h1>
        <br>    
        {% for hoteles in hotel %}    
            <h1>{{forloop.counter}}. {{hoteles.nombre}}</h1>    
            
            <p>{{hoteles.content}}</p>    
        {% endfor %}
    
    </div>
    <h1>{{habitacion.img_habitacion}}</h1>
    <h1>{{hotel.nombre}}</h1>
</body>
</html>