<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'Proyecto/ignore/nav.html' %}
<br>
<h1>{{ habitacion.num_habitacion }}</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src= "/media/{{ habitacion.img_habitacion }}" class="d-block w-100" alt="Imagen de la habitacion">
        </div>
    </div>
</div>
</body>
</html>